<h2>Category: <%= @category.name %></h2>

<h3>Associated Venues</h3>

<table class="table">
  <tbody>
<ul>
  <%= for venue <- @category.venues do %>
    <li>
      <%= link venue.name, to: venue_path(@conn, :show, venue) %>
    </li>
  <% end %>
</ul>

<%= link "Back", to: category_path(@conn, :index) %>
