<h2>New venue</h2>

<%= render "form.html", changeset: @changeset, categories: @categories, venue: @venue,
                        action: venue_path(@conn, :create) %>

<%= link "Back", to: venue_path(@conn, :index) %>
