<h2>Edit venue</h2>

<%= render "form.html", changeset: @changeset, venue: @venue,
                        action: venue_path(@conn, :update, @venue) %>

<%= link "Back", to: venue_path(@conn, :index) %>
